* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__instagramEmbed {
  max-width: 500px;
  background-color: #fff;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.app__upload {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: red;
}